<main>
	<section class="primary-section">
		<h1>{{ tittle }}</h1>
		<h2>{{ subtittle }}</h2>
		<ng-content></ng-content>
		<div class="buttonWrapper">
			<button
				[disabled]="disablePrimaryButton"
				(click)="submit()"
				class="primary-btn"
			>
				{{ primaryButtonText }}
			</button>
		</div>
		<div class="spanWrapper">
			<span>{{ spanText }}</span>
			<span
				><button (click)="navigate()">{{ spanButton }}</button></span
			>
		</div>
	</section>
	<section class="secondary-section">
		<img src="Main.svg" />
	</section>
</main>
