<app-login-default-layout
	tittle="First Time"
	subtittle="First Time! Please enter your details."
	(submit)="submit()"
	[disablePrimaryButton]="!signupForm.valid"
	primaryButtonText="Signup"
	(navigate)="navigate()"
	spanText="Already have an account?"
	spanButton="Login for free!"
>
	<form (ngSubmit)="submit()" [formGroup]="signupForm">
		<app-login-input-layout
			placeholder="Enter your name"
			formControlName="name"
			inputLabel="Name"
			inputType="text"
			inputName="name"
		>
		</app-login-input-layout>
		<app-login-input-layout
			placeholder="Enter your email"
			formControlName="email"
			inputLabel="Email"
			inputType="email"
			inputName="email"
		>
		</app-login-input-layout>
		<app-login-input-layout
			placeholder="Enter your password"
			formControlName="password"
			inputLabel="Password"
			inputType="password"
			inputName="password"
		>
		</app-login-input-layout>
		<app-login-input-layout
			placeholder="Confirm your Password"
			formControlName="password"
			inputLabel="Confirm your Password"
			inputType="password"
			inputName="password"
		>
		</app-login-input-layout>
	</form>
</app-login-default-layout>
