<app-login-default-layout
	tittle="Welcome back"
	subtittle="Welcome back! Please enter your details."
	(submit)="submit()"
	[disablePrimaryButton]="!loginForm.valid"
	primaryButtonText="Login"
	(navigate)="navigate()"
	spanText="Don't have an account?"
	spanButton="Sign up for free!"
>
	<form (ngSubmit)="submit()" [formGroup]="loginForm">
		<app-login-input-layout
			placeholder="Enter your email"
			formControlName="email"
			inputLabel="Email"
			inputType="email"
			inputName="email"
		>
		</app-login-input-layout>
		<app-login-input-layout
			placeholder="Enter your password"
			formControlName="password"
			inputLabel="Password"
			inputType="password"
			inputName="password"
		>
		</app-login-input-layout>
	</form>
</app-login-default-layout>
